   .searchInput {
    position: relative;
    margin: .7em 0em .3em;
     background: #f9fbfca7;  
    height: 1em;
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    border: 2px solid var(--AzulVerde);
    width: auto;

        }  
  .input::placeholder {
    color: var(--AzulOscuroSuave);
    font-family: var(--font);
    font-weight: 400;
  }  
  .input:focus {
    outline-color: var(--AzulVerdeSuave);
  }
  