.Lis{
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 50px rgba(25, 85, 205, 0.15);
    background-color: #f4000041;
    width: 100%;
  }
 