 .Lis {
  display: flex;
      position: relative;
      flex-direction: column;
      top: -3em;
      list-style: none;
      background-color: var(--verdeOscuro);
      padding: 5em;
      box-shadow: 1px 11px 50px -17px var(--dark);
      font-family: 'Montserrat';
      width: -webkit-fill-available;
  }
  
  @media (width < 600px) {
    .Lis{
        top: 1em;
        padding: .4em;
    }
  }