
  .Icono-svg {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
  }  
  .Icono-check--verde {
    color: #4caf50;
  }  
  .Icono-edit:hover .Icono-svg {
    fill: var(--salmon);
  } 
  .Icono-borrar:hover .Icono-svg {
    fill: var(--rojo);
  }
  .Icono-check:hover .Icono-svg {
    fill: green;
  }