
:root {
  /*========== Colors ==========*/

  --hue-color: 271;
  --item: hsl(var(--hue-color), 100%, 25%);
  --list: var(--AzulVerde);
  --dark: ##03131f;
  --AzulOscuro: #033540;
  --AzulOscuroSuave: #015366;
  --VerdeAzulado: #015342;
  --Azul:#016392;
  --AzulSuave: #01839d;
  --AzulVerde: #63898C;
  --rosado: #fcd5ce;
  --AzulVerdeSuave: #A7D1D2;
  --white: #E0F4F5;
  --rojo: #A62B1F;
  --gray-transparent: #b4b4b49e;
  --button-cancel: var(--dark);
  --title: var(--purple);
  
  --complete: var(--white);
  --purple: hsl(var(--hue-color), 56%, 33%);
  --purple-bright: hsl(var(--hue-color), 87%, 55%);
  --box-shadow-purple: 1px 11px 50px -17px var(--purple-bright);
  --box-shadow: 0 5px 16px var(--dark);

  /*========== Sizer  Font ==========*/
  --md: 24px;
  --lg: 64px;

  /* Type font*/
  --font: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  color: var(--AzulOscuroSuave);
  font-family: var(--font);
  background-color: var(--AzulOscuro);
}

#root {
 
  font-family: 'Montserrat';
  
}